<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0" />
  </startup>

  <runtime>
    <gcConcurrent enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="DLL"/><!--若在生成目录中找不到引用的dll，则在其名为DLL的子文件夹中查找-->
    </assemblyBinding>
  </runtime>

</configuration>
